* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 15px;
}

.grey-bg {
    background-color: $grey-bg;
}

a:hover .header__menu__top__phone {
    color: $accent;
    transition: ease 0.3s;
}

a:hover .footer-s__menu__left__bottom__phone {
    color: $accent;
    transition: ease 0.3s;
}

.footer-s__menu__left__bottom__link a:hover {
    color: $accent;
    transition: ease 0.3s;
}

.gradient {
    background: linear-gradient(228deg, $main-regular 0%, $main-regular 60%, #643E72 100%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    &::after {
        content: '';
        background-color: #CACADB;
        border-radius: 0 0 12px 12px;
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: -10px;
        height: 10px;
    }
    &::before {
        content: '';
        background-color: #E7E7F2;
        border-radius: 0 0 12px 12px;
        position: absolute;
        left: 40px + 40px;
        right: 40px + 40px;
        bottom: -20px;
        height: 10px;
    }
}

.h-bg {
    background: url('../img/h-teg.svg') no-repeat center;
    background-size: contain;
    width: 100%;
    height: 799px;
    margin-bottom: 58px;
}
.h-bg h1 {
    text-align: center;
    margin-bottom: 270px;
}

.scroll {
  display: inline-block;
  color: white;
  transition: color 0.3s ease;
  margin-left: 639px;
  &:hover {
    color: $accent;
  }
}

a {
    text-decoration: none;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 375px);
    &__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 50px;
        margin-left: 60px;
    }
    &__menu {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        grid-template-rows: repeat(1, 250px);
        margin-top: 50px;
        margin-right: 60px;
        &__bottom {
            display: flex;
            justify-content: flex-end;
            margin-left: 56px;
            margin-top: 20px;
        }
        &__bottom a {
            color: $grey-bg-alt;
            margin-left: 16px;
            font-weight: bold;
            &:hover {
                color: $accent;
                transition: ease 0.3s;
            }
        }
        &__top {
            display: flex;
            align-items: center;
            gap: 5px;
            &__button {
                background-color: $main-regular;
                border-radius: 5px;
                border: none;
                width: 33px;
                height: 25px;
                color: white;
                font-weight: bold;
                text-align: center;
                margin: 0 2px;
                cursor: pointer;
                &--active {
                    background-color: $accent;
                }
                &:not(.header__menu__top__button--active):hover {
                    background-color: #CCCCCC;
                    color: $accent;
                    transition: ease 0.3s;
                }
            }
            &__dots {
                color: $grey-separator;
                font-weight: bold;
                text-align: center;
                font-size: 25px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 2px;
                position: relative;
                bottom: 2px;
            }
            &__text {
                color: $grey-separator;
                margin: 0 2px;
            }
            &__phone {
                color: $grey-separator;
                margin: 0 2px;
                font-weight: bold;
            }
            &__link {
                margin: 0 2px;
                cursor: pointer;
            }
            &__link svg path {
                transition: fill ease 0.3s;
            }
            &__link:hover svg path {
                fill: $accent;
            }
        }
    }
}

.choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 220px);
    padding-bottom: 62px;
    &__between__option {
        display: inline-block;
        padding-right: 56px;
        color: $grey-text;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        margin-top: 5px;
        &--active {
            background: linear-gradient(45deg, #EF8080 10%, #F0145A 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
        &:not(.choice__between__option--active):hover {
            color: $grey-bg;
            transition: ease 0.3s;
        }
    }
    &__between {
        border-right: 5px rgba($color: white, $alpha: 0.3) solid;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-right: 5px rgba($color: white, $alpha: 0.3) solid;
        gap: 10px;
    }
    &__description {
        margin-top: 20px;
        margin-left: 56px;
        &__title {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 27px;
        }
        &__text {
            color: $grey-separator;
            font-size: 16px;
            line-height: 1.5em;
        }
    }
}

.advantages {
    &__services {
        display: inline-flex;
        position: relative;
        margin-bottom: 10px;
        &:hover svg path {
            stroke: $accent;
        }
    }
    &__services a {
        font-size: 18px;
        color: $active-regular;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        &:hover {
            color: $accent;
            transition: ease 0.3s;
        }
    }
    &__services a svg {
        position: absolute;
        top: 5px;
        margin-left: 1px;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 69px;
        background: linear-gradient(45deg, #F0145A 10%, #EF8080 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
    &__marking {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        &__items {
            margin-bottom: 67px;
            &__icons {
                background-color: white;
                border-radius: 14px;
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 35px;
            }
            &__title {
                font-size: 18px;
                color: $active-regular;
                font-weight: bold;
                margin-bottom: 28px;
            }
            &__text  {
                font-size: 16px;
                line-height: 24px;
                color: $grey-bg;
            }
        }
    }
}

.page-content {
    margin-left: 80px;
    margin-top: 61px;
    width: 1220px;
    overflow: hidden;
}
.slider-wrapper {
    border: 1px solid;
    border-radius: 15px;
    background: $grey-bg-alt;
    max-height: 344px;
}
.slider-img img {
    width: 366px;
    height: 342px;
    border-radius: 15px 0 0 15px;
}
.slider-text {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 36px;
    background: linear-gradient(45deg, #F0145A 10%, #EF8080 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.slider-item {
    display: grid !important;
    grid-template-columns: 400px 920px;
}
.slider-item {
    display: grid !important;
    grid-template-columns: 400px 920px;
}
.slider-team {
    display: inline-flex;
    position: relative;
    margin-bottom: 10px;
    margin-top: 34px;
}
.slider-team a {
    font-size: 14px;
    color: $active-regular;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
.slider-team a svg {
    position: absolute;
    top: 2.5px;
}
.slider-person {
    color: $grey-text;
    font-weight: bold;
    margin-bottom: 15px;
}
.slider-position {
    color: $grey-text;
}
.slider-team:hover svg path {
    stroke: $accent;
}
.slider-team a:hover{
    color: $accent;
    transition: ease 0.3s;
}
.slick-dots {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 64px;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $active-regular;
  opacity: 0.5;
  border: none;
  cursor: pointer;
}
.slick-dots button:hover {
  background-color: $active-hover;
  opacity: 0.8;
}
.slick-dots .slick-active button {
  background-color: $active;
  opacity: 1;
}

.link {
    margin-bottom: 68px;
    &__title {
        display: block;
        font-weight: bold;
        color: $main-regular;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: -237px;
    }
    &__card {
        margin-top: 263px;
        display: grid;
        height: 360px;
        width: 1440px;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(3, 120px);
        &__one {
            display: flex;
            background-color: #1C4280;
            justify-content: center;
            align-items: center;
        }
        &__two {
            background-color: #143646;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__three {
            display: flex;
            background-color: #F48B30;
            justify-content: center;
            align-items: center;
        }
        &__four {
            display: flex;
            background-color: #9E4DC3;
            justify-content: center;
            align-items: center;
        }
        &__five {
            display: flex;
            background-color: #FD9339;
            justify-content: center;
            align-items: center;
        }
        &__six {
            display: flex;
            background-color: #E2E2E4;
            justify-content: center;
            align-items: center;
        }
        &__seven {
            display: flex;
            background-color: #C71C36;
            justify-content: center;
            align-items: center;
        }
        &__eight {
            display: flex;
            background-color: #DCF3F9;
            justify-content: center;
            align-items: center;
        }
        &__nine {
            display: flex;
            background-color: #EAEAEA;
            justify-content: center;
            align-items: center;
        }
        &__ten {
            display: flex;
            background-color: #282240;
            justify-content: center;
            align-items: center;
        }
        &__eleven {
            display: flex;
            background-color: #1D4568;
            justify-content: center;
            align-items: center;
        }
        &__twelve {
            display: flex;
            background-color: black;
            justify-content: center;
            align-items: center;
        }
        &__one:hover {
            cursor: pointer;
        }
        &__two:hover {
            cursor: pointer;
        }
        &__three:hover {
            cursor: pointer;
        }
        &__four:hover {
            cursor: pointer;
        }
        &__six:hover {
            cursor: pointer;
        }
        &__seven:hover {
            cursor: pointer;
        }
        &__eight:hover {
            cursor: pointer;
        }
        &__nine:hover {
            cursor: pointer;
        }
        &__ten:hover {
            cursor: pointer;
        }
        &__eleven:hover {
            cursor: pointer;
        }
        &__twelve:hover {
            cursor: pointer;
        }
    }
}

.publications {
    margin-bottom: 30px;
    &__block-one {
        margin-top: 34px;
        margin-bottom: 31px;
        &__link {
            display: inline-flex;
            position: relative;
            margin-bottom: 10px;
            &:hover svg path {
                stroke: $accent;
            }
        }
        &__link a {
            font-size: 18px;
            color: $active-regular;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            &:hover {
                color: $accent;
                transition: ease 0.3s;
            }
        }
        &__link a svg {
            position: absolute;
            top: 5px;
            margin-left: 1px;
        }
        &__title {
            font-weight: bold;
            font-size: 28px;
            line-height: 48px;
            background: linear-gradient(45deg, #F0145A 10%, #EF8080 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            padding: 0;
            overflow: visible;
        }
    }
    &__block-two {
        display: grid;
        grid-template-columns: repeat(3, 410px);
        grid-template-rows: repeat(1, 486px);
        &__card {
            background-color: white;
            width: 380px;
            border-radius: 0 0 12px 12px;
            &__image img {
                width: 380px;
            }
            &__link {
                margin-top: 15px;
                margin-left: 30px;
            }
            &__link a {
                font-size: 16px;
                color: $active-regular;
                font-weight: bold;
            }
            &__date {
                font-weight: bold;
                color: $grey-text;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 0.1em;
                margin-top: 20px;
                margin-left: 30px;
                width: 315px;
                border-bottom: 5px $grey-separator solid;
                padding-bottom: 18px;
            }
            &__text {
                color: black;
                margin-top: 21px;
                margin-left: 30px;
                letter-spacing: normal;
                font-size: 16px;
                margin-right: 25px;
            }
        }
    }
}

.footer {
    margin-top: 30px;
    border-top: 3px $grey-separator solid;
    &-s {
        margin-top: 17px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0;
        &__menu {
            &__left {
                &__top {
                    margin-bottom: 25px;
                    &__text {
                        color:  $main-regular;
                        margin: 0 2px 0 0;
                        font-size: 18px;
                    }
                    &__dots {
                        color: $grey-text;
                        font-weight: bold;
                        text-align: center;
                        font-size: 30px;
                        line-height: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 4px;
                        margin-left: 2px;
                        position: relative;
                        top: 3px;
                        display: inline-flex;
                    }
                    &__link a {
                        font-size: 14px;
                        color: $active-regular;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    &__link a:hover {
                        color: $accent;
                        transition: ease 0.3s;
                    }
                    &__link {
                        display: inline-flex;
                    }
                }
                &__bottom {
                    display: flex;
                    &__facebook svg path {
                        transition: fill ease 0.3s;
                    }
                    &__facebook:hover svg path {
                        fill: $accent;
                    }
                    &__dots {
                        color: $grey-text;
                        font-weight: bold;
                        text-align: center;
                        font-size: 30px;
                        line-height: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 12px;
                        margin-left: 10px;
                        position: relative;
                        display: inline-flex;
                        bottom: 3px;
                    }
                    &__phone {
                        font-size: 18px;
                        position: relative;
                        color: $active;
                        margin: 0 2px;
                        font-weight: bold;
                        top: 8px;
                    }
                    &__link {
                        font-size: 18px;
                        position: relative;
                        margin: 0 2px;
                        font-weight: bold;
                        top: 8px;
                    }
                    &__link a {
                        color: $active;
                    }
                }
            }
            &__right {
                grid-column: 3 / 3;
                justify-self: end;
                &__text {
                    color: $grey-text;
                }
            }
        }
    }
}
