//main
$main-regular: #323264;
$main-alt: #46466E;
$main-soft: #686887;

//accent
$accent: #F0145A;

//active
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active: #006CCF;

//grey
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
